/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2015, 3:07:25 PM
    Author     : Viachaslau Khalikin vkhalikin@gmail.com
*/

/* Layouts */

html, body {
    font-size: 100%;
    background-color: #f7f7f7; 
    font-family: 'Roboto', sans-serif;
    /*width: 1154px;*/
    margin: 0 auto;
}

*:focus, *:active, option {
    outline: 0;
}

.l-content {
    width: 100%;
    display: block;
    clear: both;
    font-family: Roboto;
    text-align: center;
    background-color: rgb(0,199,155);
    min-width: 1160px;
}

.l-content:after {
    content: "";
    display: table;
    clear: both;
}

.l-footer {
    text-align: center;
    display: block;
    width: 100%;
    clear: both;
    background-color: rgb(92, 91, 92);
}

.l-footer:after {
    content: "";
    display: table;
    clear: both;
}

.l-footer-down {
    display: inline-block;
    margin-left: 3.9%;
    margin-right: 3.9%;
    margin-top: 1%;
    border-top: #aeacad solid ;
    position: relative;
    text-align: left;
    width: 1154px;
}

.l-footer-top {
    display: inline-block;
    margin-left: 3.9%;
    margin-right: 3.9%;
    margin-top: 2.5%;
    font-size: 100%;
    text-align: left;
    width: 1154px;
}

.l-guide {
    clear: both;
    display: block;
    width: 1154px;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
}

.l-main {
    display: block;
    width: 1154px;
    margin: 0 auto;
    background-color: #f7f7f7;  
    clear: both;
    padding: 0.2% 0;
}

.l-main:after {
    content: "";
    display: table;
    clear: both;
}

.l-main-menu {
    display: inline-block;
    width: 72%;
    margin-right: 4.5%
}

.l-map {
    display: block;
    width: 100%;
    height: 30em;
    position: relative;
}

.b-map__sale{
    width: 100%;
    display: inline-block;
    height: 30em;
}

.b-map__rent{
    width: 100%;
    display: inline-block;
    height: 30em;
}

.b-map__index{
    width: 100%;
    height: 30em;
    clear: both;
    width: 100%;
    background-color: #ffffff; 
}

.l-offers {
    display: block;
    margin: 0 auto;
    width: 1154px;
    background-color: #f7f7f7;    
    clear: both;
}

.l-panel {
    display: block;
    padding: 9px 0;
    width: 100%;
    text-align: center;
    background-color: rgb(0,204,159);
}

.l-panel:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    left: 0;
}

.l-panel:after {
    content: "";
    display: table;
    clear: both;
}

.l-news {
    width: 1154px;
    margin: 0 auto;
}

.l-news:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}

/* Blocks */

.b-address {
    display: inline-block;
    margin-top: 5%;
    position: relative;
    float: bottom;
    width: 100%;
}

.b-allcontacts {
    display: block;
    position: relative;
    float: right;
    width: 30%;
}

.b-catalog {
    display: block;
    width: 70%;
    float: left;
}

.b-catalog__column {
    display: block;
    position: relative;
    float: left;
    width: 28.3%;
    margin-left:3%;
}

.b-contacts {
    display: inline-block;
    position: relative;
    margin-left: 2.5%;
    vertical-align: middle;
    width: 923px;
}

.b-contacts__tel {
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 2%;
    width: 30%;
}

.b-contacts__mail {
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 1.75%;
    margin-left: 1.75%;
    text-decoration: none;
    top: 3px;
}

.b-contacts__skype{
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 1.75%;
    text-decoration: none;
    top: 3px;
}

.b-offers__guides {
    display: inline-block;
    position: relative;
    width: 33.3%;
    float: left;
}

.b-altlogo {
    display: inline-block;
    position: relative;
    width: 202px;
    margin-right: 5.5%;
    height: 100%;
    vertical-align: top;
}

.b-logo {
    display: block;
    position: relative;
    float: left;
    margin-left: 3.5%;
    width: 20%;
}

.b-main-menu {
    display: inline-block;
    position: relative;
    width: 100%;
}

.b-main-menu > a {
    text-transform: uppercase;
}

.b-news-head {
    display: inline-block;
    position: relative;
    width: 100%;
}

.b-news-previews {
    display: block;
    position: relative;
    clear: both;
    float: left;
    width: 54%;
    margin-left:  6.7%;
}

.b-news-preview {
    display: block;
    position: relative;
    float: left;
    width:  48%;
    margin-right: 2%;
}

.b-news-short {
    display: block;
    position: relative;
    float: right;
    width: 31.5%;
    margin-right: 6.25%;
    margin-bottom: 2%;
}

.b-offer-bottom{
    clear: both;
    display: block;
    width: 100%;
    height: 4%;
}

.e-offer-code {
    font-size: 70%;
    margin: 7% 5% 1% 5%;
    display: inline-block;
    color: rgb(155, 157, 160);
    font-family: Roboto;
    width: 90%;
}

.e-offer-name {
    color: rgb(0, 208, 162);
    margin: 0 5% 5% 5%;
    display: inline-block;
    font-size: 100%;
    font-family: Roboto;
    width: 90%;
    min-height: 42px;
}

.b-offer-button {
    clear: both;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0% 0% 2%;
    text-align: center;
}

.e-offer-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    color: #fff;
    padding: 0.7% 4.7%;
    background-color: rgb(0, 204, 159);
    border-radius: 4px;
    font-family: Roboto;
}

.e-offer-button:hover {
    background-color: #02e2b0;
}

.e-offer-button:active {
    background-color: #00c297;
}

.b-meters__chars {
    display: table-cell;
    position: relative;
    width: 32.3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    border-bottom-left-radius: 4px;
}

.b-rooms-chars {
    display: table-cell;
    position: relative;
    width: 32.3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    border-left: 0.1em solid rgb(247, 247, 247);
    border-right: 0.1em solid rgb(247, 247, 247);
}

.b-price-chars {
    display: table-cell;
    position: relative;
    width: 32.3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    border-bottom-right-radius: 4px;
}


.b-offer-chars {
    display: table;
    width: 100%;
    margin-top: 0.5%;
}

.b-head__offers {
    display: block;
    position: relative;
    width: 100%;
}

.b-offer-nav__choose {
    display: block;
    position: relative;
    float: right;
    margin: 2% 2.5% 2% 0;
    width: 25%;
    text-align: right;
}

.b-offer-photo {
    display: block;
    width: 99%;
    background-color: white;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.b-offer-preview {
    display: inline-block;
    position: relative;
    margin: 0 1.5% 3%;
    width: 22%;
    float: left;
}

.b-offer-preview:hover {
    box-shadow: 0 0 0.2em #94e7d5;
    border-radius: 0.2em;

}

.b-offer-preview__desc {
    display: block;
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

.b-offer-previews {
    clear: both;
    position: relative;
    width: 98.5%;
    margin: 0 0.75%;
    display: inline-block;
}

.e-title__offers {
    display: block;
    margin: 2% 0 2% 2.5%;
    font-size: 150%;
    color: rgb(0, 208, 162);
    float: left;
    font-family: Roboto;
}

.b-person {
    text-align: left;
    display: inline-block;
    position: relative;
    margin-right: 0.5%;
    width: 173px;
    vertical-align: middle;
    top: 2px;
}

.b-phones {
    display: inline-block;
    position: relative;
    width: 100%;
}

.b-pop-links {
    display: block;
    width: 62%;
    float: left;
}

.b-social-networks {
    clear: both;
    display: inline-block;
    margin-left:  39.25%;
    margin-right: 39.25%;
    width: 22%;
    margin-bottom: 2%;
    position: relative;
}

/* Elements */

.e-allcontacts-value {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    color: #f1efe5;
    margin-bottom: 2%;
    font-weight: bold;
}

.e-value__address {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    color: #f1efe5;
    margin-bottom: 2%;    
    font-family: Roboto;
    font-weight: lighter;
    font-size: 85%;
}

.e-link__catalog {
    text-decoration: none;
    color: rgba(241, 239, 239, 255);
    font-family: Roboto;
}

.e-link__catalog:hover {
    text-decoration: underline;
    color: #F1EFEF;
}

.e-catalog-title {
    color: rgba(0, 208, 162, 255 );
    margin-bottom: 12%;
    font-family: Roboto;
    text-transform: uppercase;
}

.e-contacts-skype__text,  .e-contacts-mail__text{
    color: #ffffff;
    display: block;
    float: left;
    font-size: 85%;
    font-family: Roboto;
    font-weight: lighter;
}

.e-contacts-skype__text:hover, .e-contacts-mail__text:hover, .e-contacts-tel__text:hover {
    text-decoration: underline;
}

.b-contacts-tel__image {
    width: 6%;
    float: left;
    display: block;
    padding: 0 9px;
}

.b-contacts-mail__image{
    width: 11%;
    float: left;
    display: block;
    margin-right: 6%;
}

.b-contacts-skype__image {
    width: 14%;
    float: left;
    display: block;
    margin-right: 10%;
}

.e-contacts-tel__text {
    color: #ffffff;
    margin-left: 5%;
    font-size: 85%;
    cursor: pointer;
    font-family: Roboto;
    font-weight: lighter;
}

.e-content {
    text-align: left;
    display: inline-block;
    position: relative;
    width: 745px;
    margin-left: 7%;
    margin-right: 5.5%;
    color: #ffffff;
    font-size: 85%;
    margin-bottom: 2%;
    padding: 1% 0;
}

.e-news-short-date {
    color: rgb(155, 157,160);
    margin-bottom: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
    border-bottom: thin #000 solid;
    font-size: 80%;
    font-family: Roboto;
}

.e-news-short-text {
    color: rgb(88, 88, 88);
    margin-bottom: 3%;
    font-size: 100%;
    font-family: Roboto;
}

.e-news-title {
    display: block;
    margin-left: 6.7%;
    color: rgb(0, 208, 162);
    font-size: 140%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Roboto;
}

.e-pop-link {
    position: relative;
    float: left;
    margin-top:3%;
    margin-right: 5.5%;
    margin-bottom: 3%;
    color: rgb(241, 239, 239);
    font-size: 115%;
    text-decoration: none;
    font-family: Roboto;
}

.e-pop-link:hover {
    color: #00d09e;
}


.e-offer-choose {
    margin-left: 10%;
    text-decoration: none;
    color: rgb(57, 57, 57);
    padding-bottom: 4%;
    font-family: Roboto;
    font-size: 95%;
}

.e-offer-choose:hover,  .e-offer-choose:active {
    border-bottom: 0.2em solid #02E2B0;
    text-decoration: none;
    color: rgb(57, 57, 57);
    cursor: pointer;
} 

.e-radio__offer:checked  + .e-offer-choose  {
    border-bottom: 0.2em solid rgb(0, 208, 162);
    color:#000;
}

.e-radio__offer {
    display: none;
}

.e-offer-char-name {
    font-size: 60%;
    text-align: center;
    display: inline-block;
    margin: 10% 0;
    text-align: center;
    width: 100%;
    color: rgb(155, 157, 160);
    font-family: Roboto;
}

.e-offer-char-value {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 10%;
    color: rgb(124,124,124);
    font-family: Roboto;
    font-size: 90%;
}

.b-lang {
    cursor: pointer;
    display: inline-block;
    float: left;
    width: 40%;
    text-align: left;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    border: none;
    background-color: #00CC9F;
    padding: 0.7% 0;
    color: #fff;
    margin-top: -1%;
    font-size: 85%;
    font-family: Roboto;
    font-weight: lighter;
}

.b-lang::-ms-expand {
    display: none;
}

.b-lang option {
    background-color: #00CC9F;
    color: #fff;
    padding: 1% 0;
    outline: none;
}

.e-language__text {
    color: #FFFFF6;
    font-size: 100%;
    width: 75%;
    text-align: center;
    display: block;
    float: left;
}

.e-language__image {
    display: inline-block;
    margin-top: -2%;
    width: 14%;
    float: left;
}

.b-news-preview__date {
    display: block;
    position: relative;
    float: right;
    margin-top: 2%;
    font-size: 75%;
    color: rgb(155, 157, 160);
    font-family: Roboto;
}

.b-news-preview__image {
    width: 100%;
}

.b-news-preview__descr {
display: block;
position: absolute;
bottom: 0%;
right: 0%;
width: 70%;
padding-bottom: 5%;
padding-left: 4%;
margin-left: 41%;
padding-top: 4%;
font-size: 100%;
color: rgb(77, 78, 68);
background-color: #fff; 
font-family: Roboto;
}

/* "About Is" page*/
.l-about {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    background-color:  #ffffff;
    clear: both;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.l-inner__about {
    width: 1054px;
    margin: 0 auto;
}

.b-office {
    width: 33.33%;
    background-color: #f7f7f7;
    display: table-cell;
    border: 0.5em  solid #FFF;
    border-radius: 1em;
}

.b-office-contact {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%; 
}

.b-offices {
    margin-bottom: 5%;
    display: inline-block;
}

.b-offices__title{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: #00CC9F;
    margin-top: 4%;
    margin-bottom: 2%;
}

.e-office-photo {
    width: 100%;
    margin-bottom: 1%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.e-office-name {
   display: inline-block;
   width: 100%;
   text-align: center;
   font-size: 140%;
   margin-top: 5%;
   margin-bottom: 3%;
   color: #00CC9F;
}

.e-office-note {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(139, 139, 139);
}

.e-office-address {
    display: inline-block;
    margin: 5% 14% 10% 14%;
    width: 72%;
    text-align: center;
}

.e-office-contact-type {
    color:  rgb(246, 109, 134);
    margin-right: 1%;
}

.e-office-contact-num {
    font-size: 125%;
}

.e-allcontacts-title {
    color: rgb(215,215,215);
    margin-bottom: 2%;
    font-family: Roboto;
}

.b-offices__row {
    border-left: 0.5em  solid #FFF;
    border-right: 0.5em solid #FFF;
}

.b-about-contacts {
    clear: both;
    display: inline-block;
    background-color: #00cc9f;
    width: 100%;
    text-align: center;
}

.e-mail__about-contact {
    display: block;
    float: left;
    margin: 3% 0 ;
    width: 12%;
    vertical-align: auto;
}

.e-skype__about-contact {
    display: block;
    float: left;
    margin: 3% 0 ;
    width: 13%;
    vertical-align: auto;
}


.e-phone__about-contact{
    display: block;
    float: left;
    margin: 3% 25%;
    width: 12%;
    vertical-align: auto;
}

.b-about-contact__about-contacts {
    display: inline-block;
}

.b-about-descr {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.e-about-title {
    width: 100%;
    text-align: center;
    margin-top: 8%;
    font-size: 200%;
    color: rgb(0, 204,159);
}

.e-about-note {
    width: 100%;
    color: rgb(143, 143, 143);
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 130%;
    text-align: center;
}

.e-about-text {
    margin-bottom: 5%;
    font-size: 120%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.b-about-empls {
    width: 35%;
    float: right;
    margin-top: 8%;
    margin-right: 5%;
}

.b-empl {
    margin-bottom: 10%;
}

.e-empl__photo {
    float: left;
    width: 35%;
    margin-bottom: 1%;
    margin-right: 5%;
}

.b-empl-about {
    float: left;
}

.e-empl-position {
    font-size: 90%;
    margin-bottom: 2%;
}


.e-empl-contact {
    font-size: 80%;
    color: #a7a7a7;
    margin-top: 3%;
}

.e-empl-about-name {
    margin-top: 15%;
    margin-bottom: 5%;
}

.b-empl-desc {
    clear: both;
    margin-top: 3%;
    display: inline-block;
    background-color: #f9f9f9;
    border-left: solid #00cc9f;
}

.b-empl-desc p{
    margin-left: 3%;
    color: #a39ba3;
}

.l-form {
    clear: both;
    width: 93%;
    padding: 3% 3.5% 0;
    display: inline-block;
    background-color: #fff;
}

.b-form-info {
    width: 100%;
    text-align: center;
}

.b-form-info__col1 {
    width: 705px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.b-form-count {
    width: 99%;
    margin: 3% 1% 3% 0;
    border:  thin solid #f3f2f2;
    display: inline-block;
    border-radius: 3px;
}

.e-form-code {
    width: 63%;
    margin-left: 5%;
    font-size: 130%;
    padding: 1.8% 0;
    display: inline-block;
    float: left;
    color: rgb(93, 93, 93);
}


.e-form-count {
    width: 32%;
    text-align: center;
    display: inline-block;
    background-color: #00cc9f;
    color: #fff;
    font-size: 150%;
    padding: 1.6% 0;
    float: right;
    text-shadow: 0.02em 0.02em 0.02em;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.b-form-info__col2 {
    margin-left: 43px;
    width: 397px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.b-form-subj {
    text-align: center;
    font-size: 200%;
    color: #00D0A2;
    margin-bottom: 3%;
    text-shadow: 0.01em 0.01em 0.01em;
}

.b-form-parm {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    display: inline-table;
    border: thin solid #f3f1f1;
    font-size: 120%;
}

.e-form-parm__name {
    width: 50%;
    display: table-cell;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #5d5d5d;
}


.e-form-parm__value {
    width: 50%;
    background-color: rgb(249, 249, 249);
    display: table-cell;
    text-align: center;
    border-left: thin solid #f3f1f1;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #565656;
}

.e-form-desc {
    margin-left: 1%;
    font-size: 120%;
    color: rgb(93, 93, 93);
    margin-top: 2%;
}

.b-form-contacts {
    display: inline-block;
    width: 50%;
    margin: 15% 25% 2% 25%;
}

.e-form-contacts__title {
    font-size: 145%;
    color: rgb(93, 93, 93);
    text-shadow: 0.01em 0.01em 0.01em;
    margin-bottom: 5%;
    }

.b-phone__contact {
    margin-top: 3%;
    display: inline-block;
}

.b-skype__contact{
    margin-top: 5%;
    display: inline-block;
    margin-bottom: 5%;
}
.e-login__skype {
    float: left;
    margin-left: 10%;
    font-size: 120%;
}

.e-icon__phone {
    float:left;
    width: 12%;
}
.e-icon__skype {
    float:left;
    width: 14%;
}

.e-form-contact__info {
    float: left;
    margin-left: 10%;
    font-size: 115%;
}

.l-app__rent {
    display: inline-block;
    background-color: #fff; 
    clear: both;
    padding: 2% 3.25%;
    width: 93.5%;
}

.b-form-app__title {
    font-size: 150%;
    color: #00d0ad;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1.5%;
    width: 100%;
}

.e-form-value__name, .e-form-value__country , .e-form-comments{
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3px;
}

.e-form-value__name input, .e-form-value__country input,  .e-form-comments textarea,  .e-form-value__phone input, .e-form-value__email input, .b-form-captcha input{
    width: 98%;
    border:  thin solid #dddddd;
    border-radius: 3px;
    background-color: #f0f0f0;
    font-size: 105%;
    padding: 2% 0 2% 2%;
    color:#000;
}

:focus::-moz-placeholder {
        color: #b8b8b8;
}

:focus::-ms-input-placeholder {
   color: #b8b8b8;
}

:focus::-webkit-input-placeholder {
   color: #b8b8b8;
}

.e-form-value__phone, .e-form-value__email {
    float: right;
    width: 49%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3px;
}

.e-form-captcha {
    width: 30%;
    display: table-cell;
    float: left;
    border: thin solid #DDD;
    border-radius: 3px;
}

.e-form-button {
    float: right;
    width: 49%;
    margin-bottom: 1%;
}

.e-form-button input{
    width: 100%;
    background-color: #00d0a2;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 0.2em;
    color: #fff;
    font-size: 150%;
}

.e-form-button input:active {
    background-color: #00c297;
}

.e-form-button input:hover {
    background-color: #02e2b0;
}

.b-form-captcha input {
    width: 65%;
    float: right;
    padding-top: 3%;
    padding-bottom: 3%;
    display: table-cell;
}

.b-form-captcha {
    float: right;
    width: 49%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.b-form__app-rent {
    width: 1154px;
    margin: 0 auto;
}

.b-property__search {
    display: inline-block;
    margin-right: 0.25%;
    width: 49.55%;
    margin-bottom: 0.5%;
    float: left;
    border: thin solid #a9a9a9;
    border-radius: 4px;
    color:  #515151;
    background: #fff;
}

.l-search {
     clear: both;
     /*width: 93%;*/
     /*display: inline-block;*/
     /*margin: 0 3.5%;*/
    display:block;
     background-color: #f7f7f7; 
     padding: 3% 0;
    width: 1154px;
    margin: 0 auto;
}

.l-search__index {
    width: 1154px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}

.b-region__search {
    display: inline-block;
    margin-right: 0.25%;
    width: 49.55%;
    margin-bottom: 0.5%;
    float: left;
    border: thin solid #a9a9a9;
    border-radius: 4px;
    color:  #515151;    
    background: #fff;
}

.b-complex__search {
    display: inline-block;
    width: 49.55%;
    margin-bottom: 0.5%;
    float: right;
    border: thin solid #a9a9a9;
    border-radius: 4px;       
    color:  #515151;    
    background: #fff;
}

.b-bedrooms__search {
    display: inline-block;
    width: 49.55%;
    margin-bottom: 0.5%;
    float: right;
    border: thin solid #a9a9a9;
    border-radius: 4px;    
    color:  #515151;
    background: #fff;
}

.e-choose-title {
    background-color: #e5fffa;
    text-align: center;
    font-size: 120%;
    width: 30%;
    padding: 2.5% 0;
    float: left;
    font-family: Roboto;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

.e-choose-value {
    font-size: 110%;
    width: 70%;
    float: right;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    display: inline-block;
}

.e-choose-value select{
    width: 95%;     
    padding: 3.5% 0;
    background: #fff url("/includes/darkarrow.png") no-repeat right ;
    border: none;
    text-indent: 3%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    text-overflow: ' ';
    font-family: Roboto;
}

.e-choose-value select::-ms-expand {
    display: none;
}

.e-choose-value select option {
    text-indent: 6%;
    padding-right: 100%;
}

.b-search__search {
    clear: both;
    border-radius: 0.2em;
    border: thin  solid #9eadaa;
    background: #00d0a2; /* Old browsers */
    background: -moz-linear-gradient(left, #00d0a2 0%, #00d0a2 12%, #e6fff9 12%, #e6fff9 27%, #ffffff 27%, #ffffff 89%, #00d0a2 89%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00d0a2), color-stop(12%,#00d0a2), color-stop(12%,#e6fff9), color-stop(27%,#e6fff9), color-stop(27%,#ffffff), color-stop(89%,#ffffff), color-stop(89%,#00d0a2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #00d0a2 0%,#00d0a2 12%,#e6fff9 12%,#e6fff9 27%,#ffffff 27%,#ffffff 89%,#00d0a2 89%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #00d0a2 0%,#00d0a2 12%,#e6fff9 12%,#e6fff9 27%,#ffffff 27%,#ffffff 89%,#00d0a2 89%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #00d0a2 0%,#00d0a2 12%,#e6fff9 12%,#e6fff9 27%,#ffffff 27%,#ffffff 89%,#00d0a2 89%); /* IE10+ */
    background: linear-gradient(to right, #00d0a2 0%,#00d0a2 12%,#e6fff9 12%,#e6fff9 27%,#ffffff 27%,#ffffff 89%,#00d0a2 89%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d0a2', endColorstr='#00d0a2',GradientType=1 ); /* IE6-9 */
    font-size: 110%;
    display: inline-block;
    width: 99.9%;
    }

.b-search-action {
    width: 12%;
    display: block;
    float: left;
    padding: 1.1% 0;
}

.e-search-action {
    border: none;
    width: 100%;
    color: #FFF;
    background: #00d0a2 url("/includes/lightarrow.png") no-repeat  right;
    text-indent: 13%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;    
    font-family: Roboto;
}

.e-search-action::-ms-expand {
  display: none;
}

.e-search-action option{
    text-indent: 26%;
  padding-right: 70%;
}
.e-period-from__search {
    width: 14.4%;
    display: block;
    float: left;
    height: 100%;
    padding: 1.2% 0;
    border: none;
    border-right: thin solid #d3d3d3 !important;
    border-left: thin solid #d3d3d3 !important;
    text-align: center;
}

.e-period-to__search{
    width: 14.4%;
    display: block;
    float: left;
    height: 100%;
    padding: 1.2% 0 ;
    border: none;
    text-align: center;
    border-left: none;
    border-right: thin solid #d3d3d3 !important;
}

.b-time__search {
    width: 15%;
    padding: 1.1% 0;
    background: rgb(230, 255, 249);
    display:block;
    float: left;
}

.e-time__search {
    width: 100%;
    border: none;
    color:  rgb(81, 81, 81);
    background: rgb(230, 255, 249) url("/includes/darkarrow.png") no-repeat  right;
    text-indent: 3%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    font-family: Roboto;
}

.e-time__search::-ms-expand {
  display: none;
}

.e-time__search option {
    text-indent: 5%;
    padding-right: 50%;
}

.e-button__search {
    float: right;
    display: block;
    padding: 1.2% 0;
    width: 11%;
    color: #FFF;
    border: none;    
    background:  #00d0a2 url("e-button-search.png")  no-repeat;
    background-size: contain;
    font-family: Roboto;
    text-indent: 1em;
}

.e-button__search:hover {
    background-color: #02e2b0;
}

.e-button__search:active {
    background-color: #00c297;
}

.e-keyword__search {
    max-width: 72.1%;
    min-width: 28%;
    padding: 1.2% 2.4% 1.2% 2.4%;
    border: none;
    font-family: Roboto;
    display: block;
    float: left;
}

.e-sale-keyword__search {
    width: 73%;
    margin-left: 4%;
    padding: 1% 0;
    border: none;
}

.e-phone-icon__phones, .e-home-icon__address {
    display: block;
    width: 16%;
    float: left;
}

.e-phone-icon__phones img, .e-home-icon__address img{
    width: 100%;
}

.b-phones__text , .b-address__text {
    display: inline-block;
    float: right;
    width: 75%;
}


.e-copyright__footer-down {
    margin-top: 1%;
    margin-bottom: 4%;
    width:  38%;
    float: right;
    color: rgb(159, 159, 159);
    font-size: 80%;
    font-family: Roboto;
    position: relative;
}

.b-facebook__social-networks,  .b-google__social-networks, .b-vk__social-networks, .b-twitter__social-networks, .b-mail__social-networks {
    margin-left:3.6%;
    margin-right: 3.6%;
    width: 12.8%;
    display: block;
    float: left;
}

.e-image__facebook, .e-image__google, .e-image__vk, .e-image__twitter, .e-image__mail {
    width: 100%;
}

.e-image__facebook:hover , .e-image__google:hover , .e-image__vk:hover , .e-image__twitter:hover , .e-image__mail:hover {
    opacity: 0.5;
}

.b-user {
    float: right;
    margin-left: 5%;
    width: 30%;
    display: block;
    position: relative;
    float: left;
    text-align: right;
}

.e-user__user {
    width: 25%;
}
.e-logo__logo {
    width: 100%;
}

.e-altlogo__altlogo {
    margin-top: 25%;
    width: 100%;
    margin-bottom: 25%;
}

.b-button__altlogo {
    clear: both;
    width: 100%;
    text-align: center;
}

.e-button__button {
    padding: 3.5% 7%;
    background: #ffffff;
    border-radius: 0.25em;
    text-decoration: none;
    font-size: 105%;
    color: rgb(0, 181, 141);
    text-shadow: 0.5px 0.5px 1px;
}

.e-button__button:hover, .e-button__button:active {
    text-decoration: none;
    color: rgb(0, 181, 141);
}

.e-button__news-short {
    float: right;
    text-decoration: none;
    font-size: 115%;
    color: #ffffff;
    background-color: #00d0a2;
    padding: 1% 6%;
    border-radius: 4px;
    margin-top: 2.5%;
    font-family: Roboto;
}

.e-button__news-short:hover {
    background-color: #02E2B0;
}

.e-button__news-short:active {
    background-color: #00c297;
}

.b-office-descr {
    display: inline-block;
}

.b-jobs__about {
    display: inline-block;
    margin: 4% 5% 5% 5%;
    width: 90%;
}

.b-prologue__jobs {
    text-align: center;
    margin-bottom: 6%;
    margin-top: 1%;
}

.e-head__prologue {
    font-size: 170%;
    margin-bottom: 2%;
    color: rgb(0, 204, 159)
}

.e-content__prologue {
    font-size: 130%;
}   

.e-vacancy__job {
    color: rgb(246, 109, 134);
    font-size: 150%;
}

.b-descr__job {
    display: inline-block;
    margin: 2% 0;
}

.e-button__contact {
    float: right;
    background-color: rgb(246, 109, 134);
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    padding: 0.75% 5%;
    border-radius: 0.2em;
}

.e-button__contact:hover {
    float: right;
    background-color: #FF9CAE;
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    padding: 0.75% 5%;
    border-radius: 0.2em;
}

.e-button__contact:active {
    float: right;
    background-color: #ff5070;
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    padding: 0.75% 5%;
    border-radius: 0.2em;
}

.b-contact__job {
    width: 100%;
}

.b-about-contact__contact {
    float: left;
}

.e-empl-name__about-contact {
    font-size: 110%;
    margin-top: 2%;
}

.e-empl-email__about-contact {
    color: rgb(126, 126, 126)
}

.e-aboutus-title {
    float: right;
    font-size: 250%;
    margin-top: 3%;
    margin-right: 4%;
    color: rgb(181, 181, 181);
}

.b-menu-about {
    position: absolute;
    margin-top: 3%;
    margin-left: 5%;
    width: 66%;
}

.b-job__about {
    display: inline-block;
    width: 100%;
    margin-bottom: 7%;
}

.e-nav__about {
    text-decoration: none;
    font-size: 110%;
    margin-right: 5%;
    padding: 0 1% 1% 1%;
    color: rgb(181, 181, 181);    
}

.e-nav__about:hover, .e-nav__about:active {
    border-bottom: 0.2em solid rgb(0, 204, 159);
    color:#000;
}

.e-main-about{
   display: block;
   position: relative;
   float: right;
   margin-left: 3%;
   font-size: 105%;
   margin-top: 2%;
   color: #393939;
   text-decoration: none;
   font-family: Roboto;
}

.e-main-about:active, .e-main-about:hover {
    padding-bottom: 1%;
    border-bottom: 0.2em solid rgb(0, 204, 159);
    text-decoration: none;
    color: #393939;
}

.e-main-tourism{
   display: block;
   position: relative;
   float: right;
   margin-left: 3%;
   font-size: 105%;
   margin-top: 2%;
   color: #393939;
   text-decoration: none;
   font-family: Roboto;
    cursor: not-allowed;
    opacity: 0.5;
}

/*.e-main-tourism:active, .e-main-tourism:hover {*/
    /*padding-bottom: 1%;*/
    /*border-bottom: 0.2em solid rgb(0, 204, 159);*/
    /*text-decoration: none;*/
    /*color: #393939;*/
/*}*/

.e-main-invest{
   display: block;
   position: relative;
   float: right;
   margin-left: 3%;
   font-size: 105%;
   margin-top: 2%;
   color: #393939;
   text-decoration: none;
   font-family: Roboto;
    cursor: not-allowed;
    opacity: 0.5;
}

/*.e-main-invest:active, .e-main-invest:hover {*/
    /*padding-bottom: 1%;*/
    /*border-bottom: 0.2em solid rgb(0, 204, 159);*/
    /*text-decoration: none;*/
    /*color: #393939;*/
/*}*/

.e-main-specoff{
   display: block;
   position: relative;
   float: right;
   margin-left: 3%;
   font-size: 105%;
   margin-top: 2%;
   color: #393939;
   text-decoration: none;
   font-family: Roboto;
    cursor: not-allowed;
    opacity: 0.5;
}

/*.e-main-specoff:active, .e-main-specoff:hover {*/
    /*padding-bottom: 1%;*/
    /*border-bottom: 0.2em solid rgb(0, 204, 159);*/
    /*text-decoration: none;*/
    /*color: #393939;*/
/*}*/

.e-main-rent {
   display: block;
   position: relative;
   float: right;
   margin-left: 3%;
   font-size: 105%;
   margin-top: 2%;
   color: #393939;
   text-decoration: none;
   font-family: Roboto;
}

.e-main-rent:active, .e-main-rent:hover {
    padding-bottom: 1%;
    border-bottom: 0.2em solid rgb(0, 204, 159);
    text-decoration: none;
    color: #393939;
}

.e-main-sale {
   display: block;
   position: relative;
   float: right;
   margin-left: 3%;
   font-size: 105%;
   margin-top: 2%;
   color: #393939;
   text-decoration: none;
   font-family: Roboto;
}

.e-main-sale:active, .e-main-sale:hover {
    padding-bottom: 1%;
    border-bottom: 0.2em solid rgb(0, 204, 159);
    text-decoration: none;
    color: #393939;
}

.js-e-main-menu-current{
    padding-bottom: 1%;
    border-bottom: 0.2em solid rgb(0, 204, 159);
    text-decoration: none;
    color: #393939;
}

.e-li__catalog {
    list-style: disc;
    color: #F1EFEF;
    margin-left: -12%;
    margin-bottom: 3%;
}

.b-team__about {
    clear: both;
    display: inline-block;
    margin: 5% 5% 2% 5%;
    width: 90%;
}

.b-services__about {
    clear: both;
    display: inline-block;
    margin: 5%;
    width: 90%;
}

.b-offices-about__about {
    clear: both;
    display: inline-block;
    margin: 5% 5% 2% 5%;
    width: 90%;
}

.e-head__team {
    text-align: center;
    font-size: 130%;
    margin-bottom: 4%;
}

.e-head__offices-about {
    text-align: center;
    font-size: 170%;
    margin-bottom: 4%;
    color: rgb(0, 204, 159);
}

.e-company__team {
    color: rgb(0, 204, 159);
}

.b-employers__team {
    width: 90%;
    margin: 0 5% 5% 5%;
    display: inline-table;
    clear: both;
}

.b-empl__employers {
    position: relative;
    display: table-cell;
    width: 43.5%;
    margin: 3% 3.25%;
    float: left;
}

.b-row__empl {
    width: 100%;
}

.e-photo__empl {
    width: 26.25%;
    float: left;
}

.b-person__empl {
    width: 37.5%;
    margin-left: 5%;
    margin-right: 3.75%;
    float: left;
}

.b-contact__empl {
    float: left;
    width: 27.5%;
    margin-top: 1%;
    text-decoration: none;
    display: inline-block;
}

.b-contact__empl:hover {
    opacity: 0.7;
}

.b-descr__empl {
    clear: both;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    display: inline-block;
    background-color: rgb(249, 249, 249);
    color: rgb(155, 155, 155);
    border-left: 0.2em solid rgb(0, 204, 159)
}

.e-mail__empl {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.e-contact__empl {
    color: rgb(47, 213, 176);
    font-size: 80%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 5%;
}

.e-company__empl {
    color: rgb(0, 204, 159);
    margin-bottom: 3%;
    font-size: 100%;
    float: left;
    width: 68.75%;
    margin-left: 5%;
}

.e-name__person {
    margin-bottom: 7%;
}

.e-position__person {
    margin-bottom: 5%;
    font-size: 90%;
}

.e-mail__person {
    font-size: 80%;
    color: rgb(155, 155, 155);
    margin-bottom: 5%;
}

.e-phone__person {
    font-size: 80%;
    color: rgb(155, 155, 155);
}

.b-row__employers {
    display: table-row;
    width: 100%;
    clear: both;
}

.b-offices__about {
    display: inline-block;
    width: 90%;
    margin: 0 5%; 
}

.b-office__offices {
    width: 100%;
    margin-bottom:  5%;
    display: inline-block;
    background-color: rgb(247, 247, 247);
    border-radius: 6px;
}

.e-photo__office {
    float: left;
    width: 47%;
    border-top-left-radius: 6px;
}

.b-office-info__office {
    width: 53%;
    float: right;
}

.e-name__office-info {
    text-align: center;
    font-size: 150%;
    margin: 5% 0;
    color: rgb(0, 204, 159)
}

.e-comment__office-info {
    text-align: center;
    color: rgb(139, 139, 139)
}

.e-address__office-info {
    width: 50%;
    text-align: center;
    margin: 4% 25%;
}

.b-mail__office-info {
    text-align: center;
    margin: 5% 0 3%;
}

.b-skype__office-info {
    text-align: center;
    margin: 3% 0;
}

.b-phone-office__office-info {
    text-align: center;
    margin: 5% 0 3%;
    font-size: 140%;
}

.b-phone-mobile__office-info {
    text-align: center;
    margin: 3% 0;
    font-size: 140%;
}

.b-mail__office-info:hover, .b-skype__office-info:hover, .b-phone-office__office-info:hover,  .b-phone-mobile__office-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.e-value__email {
    color: rgb(246, 109, 134);
    margin-right: 1%;
}

.e-value__skype {
    color: rgb(246, 109, 134);
    margin-right: 1%;
}

.e-value__phone-office {
    color: rgb(246, 109, 134);
    font-size: 75%;
    margin-right: 1%;
}

.e-value__phone-mobile {
    color: rgb(246, 109, 134);
    font-size: 75%;
    margin-right: 1%;
}

.e-map__offices {
    text-align: center;
    font-size: 170%;
    color: #F66D9E;
    clear: both;
    margin: 2% 0 2%;
}

.b-logo__services {
    width: 36%;
    margin: 0 32% 5%;
}

.e-text__services {
    color: rgb(0, 204, 159);
}

.e-icon__offers {
    width: 12%;
    float: left;
    margin-top: 8%;
}

.b-title__offers {
    margin-top: 10%;
    margin-left: 5%;
    float: left;
    font-size: 150%;
    color: rgb(0, 208, 162);
    text-shadow: 0.01em 0.01em 0.01em;
    font-family: Roboto;
}

.b-enum__offers {
    clear: both;
    float: left;
    margin: 2% 0 0 17%;
    width: 36%;
    font-family: Roboto;
    font-weight: lighter;
}

.e-offer__enum {
    margin-right: 5%;
    color: rgb(128, 128, 128);
    float: left;
    text-decoration: none;
    font-size: 95%;
    margin-bottom: 2%;
}

.e-offer__enum:hover {
    text-decoration: underline;
}

.b-propery__guides {
    display: inline-block;
    position: relative;
    width: 33.3%;
    float: left;
}

.e-propery__enum {
    margin-right: 5%;
    color: rgb(128, 128, 128);
    float: left;
    text-decoration: none;
    font-size: 80%;
    margin-bottom: 2%;
}

.e-propery__enum:hover {
    text-decoration: underline;
}

.b-enum__propery {
    clear: both;
    float: left;
    margin: 2% 0 0 47%;
    width: 53%;
    font-family: Roboto;
    font-weight: lighter;
}

.e-icon__propery {
    width: 12%;
    float: left;
    margin-top: 8%;
    margin-left: 30%;
}

.b-title__propery{
    margin-top: 10%;
    margin-left: 5%;
    float: left;
    font-size: 150%;
    color: rgb(0, 208, 162);
    text-shadow: 0.01em 0.01em 0.01em;
    font-family: Roboto;
}


.b-locations__guides {
    display: inline-block;
    position: relative;
    width: 33.3%;
    float: left;
}

.e-location__enum {
    margin-right: 5%;
    color: rgb(128, 128, 128);
    float: left;
    text-decoration: none;
    font-size: 80%;
    margin-bottom: 2%;
}

.e-location__enum:hover {
    text-decoration: underline;
}

.b-enum__locations {
    clear: both;
    float: left;
    margin: 2% 0 0 32%;
    width: 50%;
    font-family: Roboto;
    font-weight: lighter;
}

.e-icon__locations {
    width: 12%;
    float: left;
    margin-top: 8%;
    margin-left: 15%;
}

.b-title__locations {
    margin-top: 10%;
    margin-left: 5%;
    float: left;
    font-size: 150%;
    color: rgb(0, 208, 162);
    text-shadow: 0.01em 0.01em 0.01em;
    font-family: Roboto;
}

.b-addplace__guide {
    width: 100%;
    text-align: center;
    font-size: 195%;
    margin-top: 10%;
    display: inline-block;
    margin-bottom: 5%;
    color: rgb(108, 108, 108);
    font-family: Roboto;
}

.b-guides__guide {
    width: 100%;
    margin-bottom: 5%;
    display: inline-block;
}

.e-button__addplace {
    margin-left: 5%;
    padding: 1.7% 4.3%;
    background-color: rgb(249, 109, 134);
    text-decoration: none;
    color: #fff;
    border-radius: 0.2em;
    font-size: 80%;
}

.e-button__addplace:hover {
    background-color: #FF9CAE;
    text-decoration: none;
    color: #fff;
}

.e-button__addplace:active {
    background-color: #ff5070;
    text-decoration: none;
    color: #fff;
}

.b-img__preview {
    width: 100%;
    position: relative;
}

.rent {
    background-color: #fff;
}

.e-form-photo {
    width: 99%;
    margin-right: 1%;
}

.b-pay__rent {
    width: 60%;
    margin: 5% 20% 0 20%;
}

.e-visa__pay {
    width: 19%;
    margin-right: 1.25%;
    float: left;
    margin-top: 3%;
}

.e-mcart__pay {
    width: 19%;
    margin-right: 1.25%;
    float: left;
}

.e-amex__pay {
    width: 19%;
    margin-right: 1.25%;
    float: left;
}

.e-discover__pay {
    width: 19%;
    margin-right: 1.25%;
    float: left;
}

.e-paypal__pay {
    width: 19%;
    float: left;
}

.b-button__rent {
    clear: both;
    width: 100%;
    margin: 1% 0;
    display: inline-block;
}

.e-request__button {
    display: inline-block;
    width: 700px;
    text-align: center;
    font-size: 150%;
    color: #fff;
    background-color: rgb(246, 109, 134);
    padding: 1% 0;
    text-decoration: none;
    border-radius: 5px;
}

.e-request__button:hover {
    background-color: #FF9CAE;
}

.e-request__button:active {
    background-color: #ff5070;
}

.e-checkout__button {
    width: 400px;
    display: inline-block;
    text-align: center;
    font-size: 150%;
    color: #fff;
    background-color: rgb(0, 208, 162);
    padding: 1% 0;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 50px;
}

.e-checkout__button:hover {
    background-color: #02e2b0;
}

.e-checkout__button:active{
    background-color: #00c297;
}

@media screen and (max-width: 1024px) {
    .e-main-menu{
        font-size: 100%;   
    }
    .e-pop-link {
        font-size: 100%;
        margin-right: 2%;
    }
    
    .b-social-networks {
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
    }
    .e-copyright__footer-down{
        font-size: 60%;
    }
    .e-li__catalog {
        margin-left: -20%;
    }
    .e-language__image {
        width: 25%;
    }
    .e-user__user {
        width: 40%;
    }
    .e-icon__locations, .e-icon__offers, .e-icon__propery {
        width: 13%;
    }
    .b-title__locations, .b-title__offers, .b-title__propery {
        font-size: 130%;
    }
    .e-offer__enum, .e-location__enum, .e-propery__enum {
        font-size: 80%;
    }
    .b-enum__locations {
        margin-left: 33%;
    }
    .b-enum__offers {
        margin-left: 18%;
    }
    .b-enum__propery {
        margin-left: 48%;
    }
    .e-news-short-text{
        font-size: 90%;
    }
    .b-news-preview__descr{
        font-size: 90%;
    }
    .b-news-short{
        width: 26.5%;
    }
    .b-news-previews {
        width: 59%;
        margin-top: 1%;
    }
    .e-form-contact__info {
        font-size: 90%;
    }
    .e-login__skype {
        font-size: 90%;
    }
    .e-form-contacts__title {
        font-size: 120%;
    }
    .b-form-subj {
        font-size: 150%;
    }
    .e-form-desc {
        font-size: 110%;
    }
    .e-form-count {
        font-size: 130%;
    }
    .e-form-code  {
        font-size: 130%;
    }
    .b-form-parm {
        font-size: 100%;
    }
}


.l-category {
    display: inline-block;
    width: 100%;
    background-color: rgb(206, 206, 206);
    text-align: center;
}

.b-category__category {
    margin: 1% 0;
}

.e-cat__category {
    text-decoration: none;
    color: rgb(52, 52, 52);
    margin: 0 0.6%;
}

.e-cat__category:hover {
    color: #fff;
    text-decoration: underline;
}

.l-calc {
    width: 1154px;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
}

.e-title__calc {
    text-align: center;
    padding: 2% 0;
    font-size: 145%;
    color: rgb(152, 152, 152);
    text-shadow: 0.01em 0.01em 0.01em;
}


.b-form-calc__calc {
    width: 95.4%;
    margin: 0 2.3%;
    background-color: #fff; 
    border-radius: 4px;
}

.b-category__form-calc {
    width: 100%;
    display: inline-block;
}

.e-count__category{
    width: 50%;
    display: block;
    text-decoration: none;
    color: rgb(157, 157, 157);
    background-color: rgb(240, 240, 240);
    float: left;
    text-align: center;
    font-size: 145%;
    padding: 1.5% 0;
    font-weight: bold;
    border-top-left-radius: 4px;
}

 .e-count__category:hover {
    color: #fff;
    background-color: #00D0A2;
    cursor: pointer;
}

.e-radio__cat-calc:checked + .e-count__category {
    color: #fff;
    background-color: #00C297;    
}

.e-sum__category{
    width: 50%;
    display: block;
    text-decoration: none;
    color: rgb(157, 157, 157);
    background-color: rgb(240, 240, 240);
    float: left;
    text-align: center;
    font-size: 145%;
    padding: 1.5% 0;
    font-weight: bold;
    border-top-right-radius: 4px;
}

 .e-sum__category:hover {
    color: #fff;
    background-color: #00D0A2;
    cursor: pointer;
}

.e-radio__cat-calc:checked + .e-sum__category {
    color: #fff;
    background-color: #00C297;    
}

.e-count__form-calc {
    margin-left: 4.5%;
    width: 42%;
    display: inline-table;
    margin-top: 4%;
    border: 0.02em solid rgb(218, 218, 218);
    border-radius: 0.2em;
    background: rgb(240, 240, 240);
}

.e-rate-form-calc {
    margin-right:  4.5%;
    width: 40%;
    float: right;
    margin-top: 4%;
    border: 0.02em solid rgb(218, 218, 218);
    border-radius: 0.2em;
    padding: 1% 0px 1% 2%;
    font-size: 105%;
    background-color: #F0F0F0;
}

.e-fee__form-calc {
    clear: both;
    margin-left: 4.5%;
    width: 42%;
    float: left;
    margin-top: 2%;
    border: 0.02em solid rgb(218, 218, 218);
    border-radius: 0.2em;
    display: inline-table;
    background: rgb(240,240,240);
}

.e-time__form-calc {
    margin-right:  4.5%;
    width: 40%;
    float: right;
    margin-top: 2%;
    border: 0.02em solid rgb(218, 218, 218);
    border-radius: 0.2em;
    padding: 1% 0px 1% 2%;
    font-size: 105%;
    background-color: #F0F0F0;
}

.b-payments__form-calc {
    clear: both;
    margin-left: 4.5%;
    width: 42%;
    float: left;
    margin-top: 2%;
}

.e-monthly__form-calc {
    margin-right:  4.5%;
    width: 42%;
    float: right;
    margin-top: 2%;
    border: 0.02em solid rgb(218, 218, 218);
    border-radius: 0.2em;
    background-color: rgb(240, 240, 240);
    display: inline-table;
}

.b-start__form-calc {
    clear: both;
    margin-left: 4.5%;
    width: 42%;
    float: left;
    margin-top: 2%;
    margin-bottom: 4%;
}

.e-at__form-calc {
    margin-right: 4.5%;
    width: 42%;
    float: right;
    display: inline-table;
    margin-top: 2%;
    margin-bottom: 4%;
    border: 0.02em solid rgb(218, 218, 218);
    border-radius: 0.2em;
    background-color: rgb(240, 240, 240);
}

.b-total__form-calc {
    clear: both;
    border-top: 0.15em solid rgb(219, 219, 219);
    padding: 3% 0;
    display: inline-block;
    width: 100%;
    font-size: 105%;
    color: rgb(59, 59, 59);
}

.b-summ__total {
    float: left;
    width: 42%;
    margin-bottom: 2%;
    margin-left: 8%
}

.b-ending__total {
    float: right;
    width: 34%;
}


.e-text__ending {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 4%;
}

.b-stat__total {
    width: 66%;
    display: inline-block;
    float: left;
}

.e-value__ending {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: rgb(0, 204, 159);
}

.e-value__summ {
    text-align: left;
}

.e-type__summ {
    width: 60%;
    float: left;
}

.e-num__value {
    color: rgb(246, 109, 134);
}

.e-input__count {
    border: none;
    width: 81%;
    display: table-cell;
    padding: 2.5% 0 2.35% 5%;
    font-size: 105%;
    background-color: rgb(240,240,240);
}

.b-cur__count {
    width: 14.0%;
    display: table-cell;
    padding: 2% 0;
    background: rgb(189, 189, 189);
}

.e-cur__count {
    border: none;
    width: 100%;
    font-size: 110%;
    background: rgb(189, 189, 189) url("/includes/lightarrow.png") no-repeat right ;
    color: rgb(255, 255, 255);
    text-indent: 10%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
}

.e-cur__count::-ms-expand {
  display: none;
}

.e-cur__count option {
    text-indent: 20%;
    padding-right: 100%;
}

.e-input__fee {
    border: none;
    width: 81%;
    display: table-cell;
    padding: 2.5% 0 2.35% 5%;
    font-size: 105%;
    background-color: rgb(240,240,240);
}

.b-cur__fee {
    width: 14%;
    display: table-cell;
    padding: 2% 0;
    background: rgb(189, 189, 189) ;
}

.e-cur__fee {
    border: none;
    width: 100%;
    font-size: 110%;
    background: rgb(189, 189, 189) url("/includes/lightarrow.png") no-repeat right ;
    color: rgb(255, 255, 255);
    text-indent: 10%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
}

.e-cur__fee::-ms-expand {
  display: none;
}

.e-cur__fee option {
    text-indent: 20%;
    padding-right: 100%;
}

.e-payment__payments {
    font-size: 120%;
    width: 40%;
    display: block;
    float: left;
    margin: 2% 0 2% 5%;
}

.e-input__monthly {
    border: none;
    width: 100%;
    display: table-cell;
    padding: 2% 0px 2.4% 0;
    font-size: 105%;
    background-color: #F0F0F0;
    text-align: center;
}

.b-cur__mountly {
    width: 50%;
    display: table-cell;
    padding: 2% 0px;
    background: rgb(189, 189, 189);
}

.e-cur__monthly {
    border:  none;
    width: 100%;
    font-size: 105%;
    background: rgb(189, 189, 189) url("/includes/lightarrow.png") no-repeat right ;
    color: #FFF;
    text-indent: 3%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
}

.e-cur__monthly::-ms-expand {
  display: none;
}

.e-cur__monthly option {
    text-indent: 5%;
    padding-right: 25%;
}

.e-input__at {
    border: none;
    width: 100%;
    display: table-cell;
    padding: 2% 0px 2.35% 0;
    font-size: 105%;
    background-color: #F0F0F0;
    text-align: center;
}

.b-cur__at {
    width: 50%;
    display: table-cell;
    padding: 2% 0px;
     background: rgb(189, 189, 189);
}

.e-cur__at {
    border:  none;
    width: 100%;
    font-size: 105%;
    background: rgb(189, 189, 189) url("/includes/lightarrow.png") no-repeat right ;
    color: #FFF;
    text-indent: 3%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
}

.e-cur__at::-ms-expand {
  display: none;
}

.e-cur__at option {
    text-indent: 5%;
    padding-right: 25%;
}

.e-text__start {
    width: 49%;
    float: left;
    margin: 2% 0;
    font-size: 105%;
    text-indent: 9%;
}

.e-date__start {
    width: 45%;
    float: right;
    border: 0.02em solid #DADADA;
    border-radius: 0.2em;
    padding: 2% 0px ;
    font-size: 100%;
    background-color: #F0F0F0;
    text-align: center;
}

.e-label__payment {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 17%;
    font-size: 100%;
    font-weight: lighter;
}

.e-label__payment:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    bottom: 1%;
    background-color: transparent;
    border-radius: 50%;
    border: 0.15em solid rgb(210, 206, 206);
}

.e-radio__payments {
	display: none;
}

.e-radio__payments:checked + .e-label__payment:before {
    border: 0.3em solid rgb(0, 204, 159);
    width: 0.7em;
    height: 0.7em;
}

.wrap{
    display: none;
    opacity: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}
	
.b-login__panel{
    width: 362px;
    height: 335px;
    margin: 12% auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 4px;
}

.b-login__user {
    cursor: pointer;
}

.e-head__login {
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin: 0 0 10%;
}

.b-username__login {
    width: 58%;
    margin: 2% 6%;
    border:  thin solid rgb(228,228,228);
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    padding: 2% 15%;
    color: rgb(184, 184, 184);
    font-size: 120%;
    background-image: url(b-username__login.png);
    background-repeat: no-repeat;
    background-position: left;
}


.b-password__login {
    width: 58%;
    margin: 2% 6%;
    border:  thin solid rgb(228,228,228);
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    padding: 2% 15%;
    color: rgb(184, 184, 184);
    font-size: 120%;
    background-image: url(b-password__login.png);
    background-repeat: no-repeat;
    background-position: left;
}

.e-button__login {
    text-decoration: none;
    width: 27%;
    text-align: center;
    color: #fff;
    padding: 3.6% 0.6%;
    background-color: #00CC9F;
    margin: 12% 36.5%;
    display: inline-block;
    border-radius: 3px;
    font-size: 95%;
}

.e-button__login:hover {
    background-color: #02e2b0;
    cursor: pointer;
}

.e-close__login {
    text-decoration: none;
    width: 95%;
    margin: 0 2.5%;
    text-align: right;
    font-size: 180%;
    text-shadow: 0.1em 0.05em 0.01em #000;
    display: inline-block;
    color: #fff;
}

.e-radio__cat-calc{
    display: none;
}

.b-form-photos {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

/* Jquery UI datapicker */
.ui-widget {
    font-family: Roboto !important;
}

.ui-widget-header{
    background-color: #E5FFFA !important;
    background-image: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-image: none !important;
    background-color: #F7F7F7  !important;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    background-image: none !important;
    background-color: #E5FFFA  !important;
    color: #000 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #FF9CAE !important;
    color: #fff !important;
    background-image: none !important;
    border: none !important;
}

.clear{
    width: 100%;
    clear: both;
}

/* Overriding third party css */
.select-target.select-theme-action {
    background-color: transparent;
}