<ol class="breadcrumb">
    <li ng-repeat="page in $parent.breadcrumbs">
        <a href="{{ page.url }}" ng-if="!$last">
            {{ page.name ? page.name : (page['name-' + $parent.lang] ? page['name-' + $parent.lang] : 'Заголовок') }}
        </a>
        <span ng-if="$last">
            {{ page.name ? page.name : (page['name-' + $parent.lang] ? page['name-' + $parent.lang] : 'Заголовок') }}
        </span>
    </li>
</ol>