<div style="padding-bottom: 15px;">
    <div class="btn-group">
        <button type="button" class="btn btn-default"
                ng-repeat="l in $parent.langs"
                ng-class="{active: langIs(l)}"
                ng-click="setLang(l)">{{ trans('lang.'+l) }}</button>
    </div>

    <div class="btn-group" dropdown ng-if="translationAvailable">
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
            <span ng-if="translationProcess[$parent.lang]" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            {{ trans('lang.translate') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-show="$parent.lang != 'ru'"><a href="" ng-click="translate('ru')">{{ trans('lang.from_ru') }}</a></li>
            <li ng-show="$parent.lang != 'en'"><a href="" ng-click="translate('en')">{{ trans('lang.from_en') }}</a></li>
            <li ng-show="$parent.lang != 'es'"><a href="" ng-click="translate('es')">{{ trans('lang.from_es') }}</a></li>
            <li ng-show="$parent.lang != 'de'"><a href="" ng-click="translate('de')">{{ trans('lang.from_de') }}</a></li>
        </ul>
    </div>
</div>