<style>
    td.icon {width: 40px;}
    img.lang {padding: 6px 5px; background-color: #aee39a; border-radius: 4px;}
    span.settings {padding: 4px 5px; background-color: #F6F6F6; border-radius: 4px; border: 1px solid #d5d5d5; cursor: pointer;}
    a.white {opacity: 0.3;}
</style>

<a href="#/complexes/create" class="btn btn-primary pull-right">Добавить комплекс</a>

<ng-include src="'/assets/templates/parts/lang.html'"></ng-include>

<table class="table table-hover">
    <tr ng-repeat="c in complexes">
        <td style="width: 150px;">
            <span ng-bind="getName(c.place)"></span>
        </td>
        <td>
            <a href="#/complexes/edit/{{ c.id }}/{{ lang }}">
                <span ng-bind="getName(c)"></span>
            </a>
        </td>
        <td ng-repeat="l in langs" class="icon">
            <a href="#/complexes/edit/{{ c.id }}/{{ l }}" ng-class="{white: !c['name-'+l]}">
                <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
            </a>
        </td>
    </tr>
</table>
