<style>
    .border {border: 1px solid #c1c1c1; border-radius: 5px; padding: 5px 15px;}
    .under-uploader { position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align: center; padding-top: 25px; font-size: 30px; color: #c1c1c1; }

    #map {
        width: 100%;
        height: 100%;
    }
</style>

<ng-include src="'/assets/templates/parts/breadcrumbs.html'"></ng-include>

<div class="form-horizontal" role="form">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <ng-include src="'/assets/templates/parts/lang.html'" ng-init="translationAvailable = true"></ng-include>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Название</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="complex['name-' + lang]" />
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="text" ng-model="complex['description-' + lang]" redactor></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="autocomplete" class="col-sm-2 control-label">Адрес</label>
        <div class="col-sm-7">
            <input class="form-control" id="autocomplete" placeholder="Введите адрес" />
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="complex.place_id" ng-change="findOnMap()" ng-options="place.id as place.name group by place.region for place in places">
                <option value="">Город</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Точка</label>
        <div class="col-sm-10" style="height: 300px;">
            <div id="map"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Сохранить" ng-click="save()" />
        </div>
    </div>

</div>
