<div style="padding-bottom: 50px;">
    <a href="#/managers/create" class="btn btn-primary pull-right">Добавить менеджера</a>
</div>

<table class="table table-hover" style="padding-top: 15px;">
    <tr ng-repeat="manager in managers">
        <td>
            <a href="#/managers/edit/{{ manager.id }}">
                <span ng-bind="manager['name-en'] || manager['name-ru']"></span>
            </a>
        </td>
        <td ng-bind="manager.role"></td>
    </tr>
</table>
