<style>
    .border {border: 1px solid #c1c1c1; border-radius: 5px; padding: 5px 15px;}
    .under-uploader { position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align: center; padding-top: 25px; font-size: 30px; color: #c1c1c1; }
</style>
<div class="form-horizontal" role="form">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="manager.active" ng-true-value="1" ng-false-value="0"> Аккаунт активен</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="manager.show" ng-true-value="1" ng-false-value="0"> Отображать на сайте</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="role" class="col-sm-2 control-label">Роль</label>
        <div class="col-sm-3">
            <select class="form-control" id="role" ng-model="manager.role" ng-options="role.role as role.name for role in roles"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Фотография</label>
        <div class="col-sm-4">
            <div nv-file-drop uploader="uploader" class="border" style="position: relative; min-height: 100px;">
                <div ng-show="!manager.image && !upload.in_process" class="under-uploader">перетащите сюда</div>
                <div ng-show="upload.in_process" class="under-uploader">{{ upload.progress }}%</div>
                <div class="row">
                    <div ng-if="manager.image && !upload.in_process" class="col-sm-12">
                        <img ng-src="/images/managers/{{ manager.image }}" style="width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="manager.image" class="col-sm-6">
            <button type="button" class="btn btn-link" ng-click="manager.image = null">Удалить фотографию</button>
        </div>
    </div>

    <div class="form-group">
        <label for="name_ru" class="col-sm-2 control-label">Имя (рус)</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="name_ru" ng-model="manager['name-ru']" />
        </div>
    </div>

    <div class="form-group">
        <label for="name_en" class="col-sm-2 control-label">Имя (лат)</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="name_en" ng-model="manager['name-en']" />
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-3">
            <input type="email" class="form-control" id="email" ng-model="manager.email" />
        </div>
        <div class="col-sm-4 checkbox">
            <label><input type="checkbox" ng-model="manager.show_email" ng-true-value="1" ng-false-value="0" /> Отображать на сайте</label>
        </div>
    </div>

    <div class="form-group">
        <label for="skype" class="col-sm-2 control-label">Skype</label>
        <div class="col-sm-3">
            <input type="email" class="form-control" id="skype" ng-model="manager.skype" />
        </div>
        <div class="col-sm-4 checkbox">
            <label><input type="checkbox" ng-model="manager.show_skype" ng-true-value="1" ng-false-value="0" /> Отображать на сайте</label>
        </div>
    </div>

    <div ng-show="manager.id && !changePassword" class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span ng-click="changePassword = true" style="cursor: pointer;">Сменить пароль</span>
        </div>
    </div>

    <div ng-show="!manager.id || changePassword" class="form-group">
        <label for="password" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="password" ng-model="manager.password" />
        </div>
    </div>

    <div ng-show="!manager.id || changePassword" class="form-group">
        <label for="password" class="col-sm-2 control-label">Повторите пароль</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="password_confirmation" ng-model="manager.password_confirmation" />
        </div>
    </div>

    <div class="form-group">
        <label for="name_en" class="col-sm-2 control-label">Языки</label>
        <div class="col-sm-10">
            <div class="row" ng-repeat="l in ['ru', 'en', 'es', 'de']">
                <div class="col-sm-12 checkbox">
                    <label><input type="checkbox" ng-model="manager['lang_'+l]" ng-true-value="1" ng-false-value="0" /> {{ trans('lang.'+l) }}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="name_en" class="col-sm-2 control-label">Офисы</label>
        <div class="col-sm-10">
            <div class="row" ng-repeat="o in offices">
                <div class="col-sm-12 checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="o.checked"
                               ng-click="o.checked ? manager.offices.push(o.id) : manager.offices.splice(manager.offices.indexOf(o.id), 1)"
                               ng-checked="manager.offices.indexOf(o.id) > -1">
                        {{ o['name-ru'] }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" style="padding-top: 20px;">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Сохранить" ng-click="save()" />
        </div>
    </div>

</div>
