<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <ng-include src="'/assets/templates/parts/lang.html'" ng-init="translationAvailable = true"></ng-include>
        </div>
    </div>
    <div class="form-group">
        <label for="published_at" class="col-sm-2 control-label">Дата публикации</label>
        <div class="col-sm-4">
            <p class="input-group">
                <input type="text" id="published_at" class="form-control" datepicker-popup="yyyy-MM-dd" ng-click="openCalendar($event)" ng-model="news.published_at" is-open="calendarOpened" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Заголовок</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="news['name-' + lang]" />
        </div>
    </div>
    <div class="form-group">
        <label for="teaser" class="col-sm-2 control-label">Тизер</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="teaser" ng-model="news['teaser-' + lang]" rows="6" redactor></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="col-sm-2 control-label">Текст</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="text" ng-model="news['content-' + lang]" rows="6" redactor></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Сохранить" ng-click="save()" />
        </div>
    </div>

</form>
