<style>
    td.icon {width: 40px;}
    img.lang {padding: 6px 5px; background-color: #aee39a; border-radius: 4px;}
    span.settings {padding: 4px 5px; background-color: #F6F6F6; border-radius: 4px; border: 1px solid #d5d5d5; cursor: pointer;}
    a.white {opacity: 0.3;}
</style>

<a href="#/news/create" class="btn btn-primary pull-right">Добавить новость</a>

<ng-include src="'/assets/templates/parts/lang.html'"></ng-include>

<table class="table table-hover">
    <tr dir-paginate="n in news | itemsPerPage: search.per_page" current-page="search.page" total-items="total">
        <td style="width: 130px;">
            {{ getDate(n.published_at) }}
        </td>
        <td>
            <a href="#/news/edit/{{ n.id }}/{{ lang }}">
                <span ng-bind="getName(n)"></span>
            </a>
        </td>
        <td ng-repeat="l in langs" class="icon">
            <a href="#/news/edit/{{ n.id }}/{{ l }}" ng-class="{white: !n['name-'+l]}">
                <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
            </a>
        </td>
    </tr>
</table>

<dir-pagination-controls template-url="/assets/templates/parts/dirPagination.tpl.html"></dir-pagination-controls>