<style>
    .border {border: 1px solid #c1c1c1; border-radius: 5px; padding: 5px 15px;}
    .under-uploader { position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align: center; padding-top: 25px; font-size: 30px; color: #c1c1c1; }

    .back-layer,
    .remove,
    .left,
    .right { display: none; }
    .image:hover .back-layer { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #fff; opacity: 0.5; }
    .image:hover .remove { display: block; position: absolute; top: 10px; right: 10px; font-size: 20px; cursor: pointer; }
    .image:hover .left { display: block; position: absolute; top: 40px; left: 20px; font-size: 40px; cursor: pointer; }
    .image:hover .right { display: block; position: absolute; top: 40px; right: 20px; font-size: 40px; cursor: pointer; }

    #map {
        width: 100%;
        height: 100%;
    }
</style>

<ng-include src="'/assets/templates/parts/breadcrumbs.html'"></ng-include>

<div class="form-horizontal" role="form" ng-init="step = 1">

    <div class="form-group">
        <label class="col-sm-2 control-label">Назначение</label>
        <div class="col-sm-10">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-class="{active: object.for == 'rent', disabled: object.id || step > 1}" ng-click="object.for = 'rent'" ng-hide="object.for != 'rent' && (object.id || step > 1)">Аренда</button>
                <button type="button" class="btn btn-default" ng-class="{active: object.for == 'sale', disabled: object.id || step > 1}" ng-click="object.for = 'sale'" ng-hide="object.for != 'sale' && (object.id || step > 1)">Продажа</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Тип</label>
        <div class="col-sm-4" ng-repeat="tag in [getTags(tagId.type)]">
            <select class="form-control" ng-model="tag.value" ng-disabled="object.id || step > 1">
                <option value="">Не указано</option>
                <option ng-value="option.id" ng-repeat="option in tag.options" ng-bind="getName(option)" ng-selected="tag.value == option.id"></option>
            </select>
        </div>
    </div>

    <div ng-show="object.id || step >= 2">

        <div class="form-group">
            <label class="col-sm-2 control-label">Расположение</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" ng-model="where" value="complex" ng-change="changeWhere()"> Комплекс
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="where" value="address" ng-change="changeWhere(); initMap()"> Адрес
                </label>
            </div>
        </div>

        <div class="form-group" ng-show="where == 'complex'">
            <label class="col-sm-2 control-label">Комплекс</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="object.complex_id" ng-options="complex.id as getName(complex) for complex in complexes">
                    <option value="">Не указан</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-show="where == 'address'">
            <label for="autocomplete" class="col-sm-2 control-label">Адрес</label>
            <div class="col-sm-7">
                <input class="form-control" id="autocomplete" placeholder="Введите адрес" />
            </div>
            <div class="col-sm-3">
                <select class="form-control" ng-model="object.place_id" ng-change="findOnMap()" ng-options="place.id as place.name group by place.region for place in places">
                    <option value="">Город</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-show="where == 'address'">
            <label class="col-sm-2 control-label">Точка</label>
            <div class="col-sm-10" style="height: 300px;">
                <div id="map"></div>
            </div>
        </div>

    </div>

    <div ng-show="object.id || step >= 3">

        <hr />

        <div class="row">
            <div class="col-sm-6 col-lg-4">

                <div class="form-group">
                    <label for="price" class="col-sm-6 control-label">Цена</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="price" ng-model="object.price" mask="9" mask-restrict="reject" mask-repeat="9" />
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="number_bedrooms" class="col-sm-6 control-label">Число спален</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="number_bedrooms" ng-model="object.number_bedrooms" mask="9" mask-restrict="reject" mask-repeat="2" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="beach_distance" class="col-sm-6 control-label">До плажа</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="beach_distance" ng-model="object.beach_distance" mask="9" mask-restrict="reject" mask-repeat="5" />
                            <div class="input-group-addon">м</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ocean_distance" class="col-sm-6 control-label">До океана</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="ocean_distance" ng-model="object.ocean_distance" mask="9" mask-restrict="reject" mask-repeat="5" />
                            <div class="input-group-addon">м</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4">

                <div class="form-group">
                    <label for="gross_area" class="col-sm-6 control-label">Общая площадь</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="gross_area" ng-model="object.gross_area" mask="9" mask-restrict="reject" mask-repeat="7" />
                            <div class="input-group-addon">м<sup>2</sup></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="living_space" class="col-sm-6 control-label">Жилая площадь</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="living_space" ng-model="object.living_space" mask="9" mask-restrict="reject" mask-repeat="7" />
                            <div class="input-group-addon">м<sup>2</sup></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="floor" class="col-sm-6 control-label">Этаж</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="floor" ng-model="object.floor" mask="9" mask-restrict="reject" mask-repeat="2" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="floors" class="col-sm-6 control-label">Этажность</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="floors" ng-model="object.floors" mask="9" mask-restrict="reject" mask-repeat="2" />
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4">

                <div class="form-group">
                    <label for="build_year" class="col-sm-6 control-label">Год постройки</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="build_year" ng-model="object.build_year" mask="2999" mask-restrict="reject" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="garage_capacity" class="col-sm-6 control-label">Гараж</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="garage_capacity" ng-model="object.garage_capacity" mask="9" mask-restrict="reject" mask-repeat="2" />
                            <div class="input-group-addon">мест</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="parking_places" class="col-sm-6 control-label">Паркинг</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="parking_places" ng-model="object.parking_places" mask="9" mask-restrict="reject" mask-repeat="2" />
                            <div class="input-group-addon">мест</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group" ng-if="object.for == 'sale'">
            <label for="utility_payment" class="col-sm-2 control-label">Коммуналка</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="utility_payment" ng-model="object.utility_payment" mask="9" mask-restrict="reject" mask-repeat="6" />
                    <div class="input-group-addon">€ / мес</div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="object.for == 'sale'">
            <label for="annual_tax" class="col-sm-2 control-label">Налог</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="annual_tax" ng-model="object.annual_tax" mask="9" mask-restrict="reject" mask-repeat="6" />
                    <div class="input-group-addon">€ / год</div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="object.for == 'sale'">
            <label for="waste_tax" class="col-sm-2 control-label">Налог на мусор</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="waste_tax" ng-model="object.waste_tax" mask="9" mask-restrict="reject" mask-repeat="6" />
                    <div class="input-group-addon">€ / год</div>
                </div>
            </div>
        </div>

    </div>

    <div ng-show="object.id || step >= 4">

        <div class="row">

            <div class="col-sm-offset-2 col-sm-5" style="padding-right: 14px; border-right: 1px solid gray;">

                <div ng-repeat="tag in tags | filter:{'type':'system'}" class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="tag.checked"
                                       ng-checked="object.tags.indexOf(tag.id) > -1">
                                <b>{{ tag['name-ru'] }}</b>
                            </label>
                        </div>
                    </div>
                </div>

                <hr />

                <div ng-repeat="tag in tags | filter:{'type':'feature', group: 0}" class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="tag.checked" />
                                {{ tag['name-ru'] }}
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-5">

                <div ng-repeat="tag in tags | filter:{'type':'feature', group: 1, id: '!'+tagId.type}" class="form-group">
                    <label class="col-sm-6 control-label">{{ tag['name-ru'] }}</label>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="tag.value">
                            <option value="">Не указано</option>
                            <option ng-value="option.id" ng-repeat="option in tag.options" ng-bind="getName(option)" ng-selected="tag.value == option.id"></option>
                        </select>
                    </div>
                </div>

            </div>

        </div>

        <div class="well" style="margin-top: 15px;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="owner_name" class="col-sm-4 control-label">Собственник</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="owner_name" ng-model="object.owner_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="owner_phone" class="col-sm-4 control-label">Телефон</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="owner_phone" ng-model="object.owner_phone" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="owner_email" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="owner_email" ng-model="object.owner_email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Менеджер</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="object.manager_id" ng-options="manager.id as getName(manager) for manager in managers"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="notes" class="col-sm-12">Заметки</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="notes" ng-model="object.notes" rows="7"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div ng-show="object.id || step >= 5">
        <hr />

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <ng-include src="'/assets/templates/parts/lang.html'" ng-init="translationAvailable = true"></ng-include>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Заголовок</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" ng-model="object['name-' + lang]" />
            </div>
        </div>

        <div class="form-group">
            <label for="teaser" class="col-sm-2 control-label">Тизер</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="teaser" ng-model="object['teaser-' + lang]" rows="3" redactor="{plugins: ['table']}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Описание</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" ng-model="object['description-' + lang]" rows="3" redactor></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Фото</label>
            <div class="col-sm-10">
                <div nv-file-drop uploader="uploader" class="border" style="position: relative; min-height: 100px;">
                    <div ng-show="!object.images.length" class="under-uploader">перетащите сюда</div>
                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-3 image" ng-repeat="image in object.images">
                            <div style="position: relative;" class="thumbnail">
                                <img ng-src="/images/objects/{{ image.preview }}" />
                                <div class="back-layer"></div>
                                <span ng-click="imageRemove(image)" class="glyphicon glyphicon-remove remove"></span>
                                <span ng-if="!$first" ng-click="imageLeft(image)" class="glyphicon glyphicon-chevron-left left"></span>
                                <span ng-if="!$last" ng-click="imageRight(image)" class="glyphicon glyphicon-chevron-right right"></span>
                                <!--input type="radio" name="main_photo" value="" /> Главное -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="padding-top: 20px;">

        <div class="form-group" ng-show="!object.id && step <= 4">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Далее" ng-disabled="!getTags(tagId.type).value || !object.for" ng-click="step = step + 1" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-danger pull-right" value="Снять с публикации" ng-show="object.public_id" ng-click="object.action = 'unpublish'; save()" />
                <input type="submit" class="btn btn-default pull-right" value="Сохранить (без публикации)" ng-show="(object.id || step > 4) && !object.public_id" ng-click="save()" />
                <input type="submit" class="btn btn-primary" value="Сохранить" ng-show="object.public_id" ng-click="save()" />
                <input type="submit" class="btn btn-primary" value="Опубликовать" ng-show="(object.id || step > 4) && !object.public_id" ng-click="object.action = 'publish'; save()" />
            </div>
        </div>

    </div>

</div>
