<style>
    td.icon {width: 40px;}
    img.lang {padding: 6px 5px; background-color: #aee39a; border-radius: 4px;}
    span.settings {padding: 4px 5px; background-color: #F6F6F6; border-radius: 4px; border: 1px solid #d5d5d5; cursor: pointer;}
    a.white {opacity: 0.3;}
    span.gray {color: #ddd;}
</style>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="search.query" placeholder="Поиск" ng-change="changeSearch('query')" />
        </div>
        <div class="col-sm-2">
            <select class="form-control" ng-model="search.manager" ng-options="m.id as getName(m) for m in managers" ng-change="changeSearch('manager')">
                <option value="">Менеджер</option>
            </select>
        </div>
        <div class="col-sm-offset-2 col-sm-3">
            <a href="#/objects/create" class="btn btn-primary btn-block">{{ trans('objects.create') }}</a>
        </div>
    </div>
</form>

<table class="table table-hover">
    <tr dir-paginate="object in objects | itemsPerPage: search.per_page" current-page="search.page" total-items="total">
        <td class="icon">
            <span ng-if="object.public_id">
                {{ object.for == 'sale' ? 'VS' : 'VR' }}&nbsp;{{ object.public_id | numberFixedLen: 4 }}
            </span>
            <span ng-if="!object.public_id" class="gray">
                {{ object.id }}
            </span>
        </td>
        <td>
            <a href="#/objects/edit/{{ object.id }}/{{ lang }}">
                <span ng-bind="getName(object)"></span>
            </a>
        </td>
        <td ng-repeat="l in langs" class="icon">
            <a href="#/objects/edit/{{ object.id }}/{{ l }}" ng-class="{white: !object['name-'+l]}">
                <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
            </a>
        </td>
    </tr>
</table>

<dir-pagination-controls template-url="/assets/templates/parts/dirPagination.tpl.html"></dir-pagination-controls>