<style>
    td.icon {width: 40px;}
    img.lang {padding: 6px 5px; background-color: #AEE39A; border-radius: 4px;}
    span.settings {padding: 4px 5px; background-color: #F6F6F6; border-radius: 4px; border: 1px solid #D5D5D5; cursor: pointer;}
    a.white {opacity: 0.3;}
</style>

<ng-include src="'/assets/templates/parts/lang.html'"></ng-include>

<table class="table table-hover">
    <tr ng-repeat="page in pages">
        <td style="padding-left: {{ 8 + page.nesting * 30 }}px;">
            <a href="#/pages/edit/{{ page.id }}/{{ lang }}">
                <span ng-bind="getName(page)"></span>
            </a>
        </td>
        <td ng-repeat="l in langs" class="icon">
            <a href="#/pages/edit/{{ page.id }}/{{ l }}" ng-class="{white: !page['name-'+l]}">
                <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
            </a>
        </td>
        <td class="icon" style="padding-top: 7px;">
            <div class="btn-group" dropdown>
                <span class="dropdown-toggle glyphicon glyphicon-cog settings" dropdown-toggle></span>
                <ul class="dropdown-menu pull-right">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/pages/create/{{ page.id }}">Добавить страницу в раздел</a></li>
                    <li role="presentation" ng-show="page.id != 1 && page.children.length == 0"><a role="menuitem" tabindex="-1" href="#" ng-click="remove(page.id)">Удалить</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>