<ng-include src="'/assets/templates/parts/breadcrumbs.html'"></ng-include>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <ng-include src="'/assets/templates/parts/lang.html'" ng-init="translationAvailable = true"></ng-include>
        </div>
    </div>
    <div class="form-group" ng-show="page.parent_id">
        <label for="path" class="col-sm-2 control-label">URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="path" ng-model="page['path-' + lang]" />
        </div>
    </div>
    <div class="form-group" ng-show="page.parent_id">
        <label for="name" class="col-sm-2 control-label">Заголовок</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="page['name-' + lang]" />
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="col-sm-2 control-label">Содержимое страницы</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="text" ng-model="page['content-' + lang]" rows="6" redactor></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="keywords" class="col-sm-2 control-label">Ключевые слова</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="keywords" ng-model="page['keywords-' + lang]" rows="2"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Описание страницы</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" ng-model="page['description-' + lang]" rows="2"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Сохранить" ng-click="save()" />
        </div>
    </div>

</form>
