<style>
    #map {
        width: 100%;
        height: 100%;
    }
</style>

<ng-include src="'/assets/templates/parts/breadcrumbs.html'" ng-init="translationAvailable = true"></ng-include>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <ng-include src="'/assets/templates/parts/lang.html'"></ng-include>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Название</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="place['name-' + lang]" />
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="text" ng-model="place['description-' + lang]" redactor></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Точка</label>
        <div class="col-sm-10" style="height: 300px;">
            <div id="map"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Сохранить" ng-click="save()" />
        </div>
    </div>

</form>
