<style>
    td.icon {width: 40px;}
    img.lang {padding: 6px 5px; background-color: #AEE39A; border-radius: 4px;}
    span.settings {padding: 4px 5px; background-color: #F6F6F6; border-radius: 4px; border: 1px solid #D5D5D5; cursor: pointer;}
    a.white {opacity: 0.3;}
</style>

<a href="#/places/create" class="btn btn-primary pull-right">Добавить район</a>

<ng-include src="'/assets/templates/parts/lang.html'"></ng-include>

<table class="table table-hover">
    <tbody ng-repeat="place in places">
        <tr>
            <td>
                <a href="#/places/edit/{{ place.id }}/{{ lang }}">
                    <span ng-bind="getName(place)"></span>
                </a>
            </td>
            <td ng-repeat="l in langs" class="icon">
                <a href="#/places/edit/{{ place.id }}/{{ l }}" ng-class="{white: !place['name-'+l]}">
                    <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
                </a>
            </td>
            <td class="icon" style="padding-top: 7px;">
                <div class="btn-group" dropdown>
                    <span class="dropdown-toggle glyphicon glyphicon-cog settings" dropdown-toggle></span>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/places/create/{{ place.id }}">Добавить город</a></li>
                        <li role="presentation" ng-show="place.cities.length == 0"><a role="menuitem" tabindex="-1" href="#" ng-click="remove(place.id)">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr ng-repeat="city in place.cities">
            <td style="padding-left: 38px;">
                <a href="#/places/edit/{{ city.id }}/{{ lang }}">
                    <span ng-bind="getName(city)"></span>
                </a>
            </td>
            <td ng-repeat="l in langs" class="icon">
                <a href="#/places/edit/{{ city.id }}/{{ l }}" ng-class="{white: !city['name-'+l]}">
                    <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
                </a>
            </td>
            <td class="icon" style="padding-top: 7px;">
                <div class="btn-group" dropdown>
                    <span class="dropdown-toggle glyphicon glyphicon-cog settings" dropdown-toggle></span>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="remove(city.id)">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>

    </tbody>

</table>
