<ng-include src="'/assets/templates/parts/breadcrumbs.html'"></ng-include>

<form class="form-horizontal" role="form">

    <div class="form-group" ng-show="tag.group || !tag.parent_id">
        <div class="col-sm-offset-2 col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" ng-model="tag.group" value="" ng-disabled="tag.id"> Простой тег
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" ng-model="tag.group" value="1" ng-disabled="tag.id"> Тег с опциями
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <ng-include src="'/assets/templates/parts/lang.html'" ng-init="translationAvailable = true"></ng-include>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{ tag.group || !tag.parent_id ? 'Название' : 'Значение' }}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" ng-model="tag['name-' + lang]" />
        </div>
        <div class="col-sm-4" ng-show="tag.group || !tag.parent_id">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="tag.search" ng-true-value="1" ng-false-value="0"> Отображать в поиске</label>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="!tag.group">
        <label for="description" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" ng-model="tag['description-' + lang]" rows="3" redactor></textarea>
        </div>
    </div>

    <div class="form-group" ng-show="tag.group || !tag.parent_id">
        <label for="icon_class" class="col-sm-2 control-label">Класс-иконка</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="icon_class" ng-model="tag.icon_class" />
        </div>
    </div>

    <div class="form-group">
        <label for="order" class="col-sm-2 control-label">Приоритет</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="order" ng-model="tag.order" />
        </div>
    </div>

    <div class="form-group" ng-show="tag.group || !tag.parent_id">
        <label for="description" class="col-sm-2 control-label">Применим</label>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="tag.rent" ng-true-value="1" ng-false-value="0"> для аренды</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="tag.sale" ng-true-value="1" ng-false-value="0"> для продажи</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" style="padding-top: 20px;">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Сохранить" ng-click="save()" />
        </div>
    </div>

</form>
