<style>
    td.icon {width: 40px;}
    img.lang {padding: 6px 5px; background-color: #AEE39A; border-radius: 4px;}
    span.settings {padding: 4px 5px; background-color: #F6F6F6; border-radius: 4px; border: 1px solid #D5D5D5; cursor: pointer;}
    a.white {opacity: 0.3;}
</style>

<a href="#/tags/create" class="btn btn-primary pull-right">Добавить тег</a>

<ng-include src="'/assets/templates/parts/lang.html'"></ng-include>

<table class="table table-hover">

    <tbody ng-repeat="tag in tags">
        <tr>
            <td>
                <a href="#/tags/edit/{{ tag.id }}/{{ lang }}">
                    <span ng-bind="getName(tag)"></span>
                </a>
            </td>
            <td ng-repeat="l in langs" class="icon">
                <a href="#/tags/edit/{{ tag.id }}/{{ l }}" ng-class="{white: !tag['name-'+l]}">
                    <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
                </a>
            </td>
            <td class="icon" style="padding-top: 7px;">
                <div class="btn-group" dropdown>
                    <span class="dropdown-toggle glyphicon glyphicon-cog settings" dropdown-toggle></span>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li role="presentation" ng-show="tag.group"><a role="menuitem" tabindex="-1" href="#/tags/create/{{ tag.id }}">Добавить опцию</a></li>
                        <li role="presentation" ng-show="!tag.options.length"><a role="menuitem" tabindex="-1" href="#" ng-click="remove(tag.id)">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr ng-repeat="option in tag.options">
            <td style="padding-left: 38px;">
                <a href="#/tags/edit/{{ option.id }}/{{ lang }}">
                    <span ng-bind="getName(option)"></span>
                </a>
            </td>
            <td ng-repeat="l in langs" class="icon">
                <a href="#/tags/edit/{{ option.id }}/{{ l }}" ng-class="{white: !option['name-'+l]}">
                    <img ng-src="/assets/images/flags/{{ l }}.png" class="lang" />
                </a>
            </td>
            <td class="icon" style="padding-top: 7px;">
                <div class="btn-group" dropdown>
                    <span class="dropdown-toggle glyphicon glyphicon-cog settings" dropdown-toggle></span>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="remove(option.id)">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>

    </tbody>
</table>
