@import 'base.less';

.navbar-brand,
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}
.navbar-brand {height: inherit;}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

@media (min-width: 768px){
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }
}