.select-select {
    display: none;
    /* For when we are on a small touch device and want to use native controls */
    pointer-events: none;
    position: absolute;
    opacity: 0;
}

.select-element, .select-element:after, .select-element:before, .select-element *, .select-element *:after, .select-element *:before {
    box-sizing: border-box;
}

.select-element {
    position: absolute;
    display: none;
}

.select-element.select-open {
    display: block;
    max-width: 32.3%
}

.select-theme-time, .select-theme-time *, .select-theme-time *:after, .select-theme-time *:before {
    box-sizing: border-box;
}

.select.select-theme-time {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select.select-theme-time .select-content {
    border-radius: .25em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background: #E6FFF9;
    font-family: inherit;
    color: #515151;
    overflow: auto;
    max-width: 100%;
    max-height: 18rem;
    -webkit-overflow-scrolling: touch;
    width: 43%
}

@media (max-width: 27rem), (max-height: 27rem) {
    .select.select-theme-time .select-content {
        max-width: 100%;
        max-height: 11.25rem;
    }
}

.select.select-theme-time .select-options {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.select.select-theme-time .select-options .select-option {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    position: relative;
    list-style: none;
    margin: 0;
    line-height: 1.25rem;
    padding: 0.5rem 1em 0.5rem 2.5em;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select.select-theme-time .select-options .select-option.select-option-selected:before {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='#444' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='#444' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>");
    position: absolute;
    left: 1em;
    top: 0;
    bottom: .2em;
    height: 1em;
    width: 1em;
    margin: auto;
}

.select.select-theme-time .select-options .select-option:hover, .select.select-theme-time .select-options .select-option.select-option-highlight {
    background: transparent;
    color: #000;
}

.select.select-theme-time .select-options .select-option:hover.select-option-selected:before, .select.select-theme-time .select-options .select-option.select-option-highlight.select-option-selected:before {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='#fff' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='#fff' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>");
}

.select.select-theme-time .select-options .select-option:first-child {
    border-radius: 0.25em 0.25em 0 0;
}

.select.select-theme-time .select-options .select-option:last-child {
    border-radius: 0 0 0.25em 0.25em;
}

.select-target.select-theme-time {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    position: relative;
    padding: 0.6% 0;
    background: transparent;
    cursor: pointer;
    color: #515151;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    background-image: url("/includes/darkarrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.select-target.select-theme-time:hover {
    border-color: #aaa;
    color: #000;
}

.select-target.select-theme-time.select-target-focused, .select-target.select-theme-time.select-target-focused:focus {
    border-color: #63a2f1;
    outline: none;
}

.select-target.select-theme-time b {
    display: none;
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1.25rem;
    width: 2em;
    background-image: url("/includes/darkarrow.png");
    background-position: right;
}

.select-target.select-theme-time b:before, .select-target.select-theme-time b:after {
    content: "";
    display: none;
    position: absolute;
    margin: auto;
    right: 0;
    height: 0;
    width: 0;
}

.select-target.select-theme-time b:before {
    top: 0;
    border-bottom-color: inherit;
}

.select-target.select-theme-time b:after {
    bottom: 0;
    border-top-color: inherit;
}
